<!-- template/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Project 1</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div class="recipe">
            <div class="recipe-title">
                This is Project 1!
            </div>
            <div class="recipe-body">
                <div class="recipe-body-picture">
                    <img src="/static/jfk.jpg" />
                </div>
                <div class="recipe-body-text">
                    4 eggs<br>
                    3 butters<br>
                    53 spoons
                </div>
            </div>
        </div>
        <div class="tweet">
            <div class="tweet-body">
                This is a tweet, I am tweeting it
            </div>
        </div>
    </body>
</html>