<!-- template/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Project 1</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div class="recipe">
            <div class="recipe-title">
                This is Project 1!
            </div>
            <hr>
            <div class="recipe-body">
                <div class="recipe-body-picture">
                    <img src="/static/jfk.jpg" />
                </div>
                <div class="recipe-body-text">
                    <h1>{{selected_food}}</h1><br>
                    4 eggs<br>
                    3 butters<br>
                    53 spoons
                </div>
            </div>
        </div>
        <div class="tweet">
            <div class="tweet-body">
                <img src={{tweet_user_image}} />
                {{tweet_user_name}}<br>
                @{{tweet_user_sname}}<br>
                {{tweet_text}}<br>
                {{tweet_timeday}}
            </div>
        </div>
    </body>
</html>