<!-- template/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Project 1</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div class="title">
            <div class="title-text">
                RNGood Food
            </div>
        </div>
        <div class="main">
            <div class="recipe">
                <div class="recipe-picture">
                    <img src="/static/jfk.jpg" />
                </div>
                <div class="recipe-text">
                    <h1>{{selected_food}}</h1><br>
                    4 eggs<br>
                    3 butters<br>
                    53 spoons
                </div>
            </div>
            <div class="tweet">
                <div class="tweet-head">
                    <div class="tweet-head-pic">
                        <img src={{tweet_user_image}} /> 
                    </div>
                    <div class="tweet-head-user">
                        <span class="tweet-head-user-name">{{tweet_user_name}}</span> <br>
                        <span class="tweet-head-user-sname">@{{tweet_user_sname}}</span>
                    </div>
                </div>
                <div class="tweet-body">
                    {{tweet_text}}
                </div>
                <div class="tweet-footer">
                    {{tweet_timeDate}}
                </div>
            </div>
        </div>
    </body>
</html>